{:deps {com.bhauman/figwheel-main {:mvn/version "0.2.3"}
        reagent {:mvn/version "0.10.0"}
        quil {:mvn/version "3.1.0"
              :exclusions [com.lowagie/itext]}
        binaryage/oops {:mvn/version "0.7.0"}}
 :paths ["src" "target" "resources"]}
